Import all the libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
pd.set_option('display.max_columns', None)

Load the dada

In [5]:
df=pd.read_csv('C:\\Users\\Mamidi Dikshitha\\Dropbox\\My PC (DESKTOP-3K30OSM)\\Downloads\\cars_price.csv')
df.head()

,Unnamed: 0,make,model,priceUSD,year,condition,mileage(kilometers),fuel_type,volume(cm3),color,transmission,drive_unit,segment
0,0,honda,accord,565,1993,with mileage,960015.0,petrol,2000.0,black,mechanics,front-wheel drive,D
1,1,ford,fusion,5550,2008,with mileage,172000.0,diesel,1400.0,silver,mechanics,front-wheel drive,M
2,2,nissan,teana,8300,2008,with mileage,223000.0,petrol,2500.0,purple,auto,front-wheel drive,D
3,3,volkswagen,fox,3300,2005,with mileage,140000.0,petrol,1200.0,blue,mechanics,front-wheel drive,A
4,4,nissan,primera,2450,2002,with damage,413000.0,diesel,2200.0,burgundy,mechanics,front-wheel drive,D

In [ ]:
df.describe()

In [ ]:
df.shape

Firstly, we should check whether the data is cleaned or not
if it is not cleaned then we have to perform data preprocessing techniques

Checking missing values

In [ ]:
df.isnull().sum()

so, it is clear that volume, drive_unit, segement has missing vales

In [ ]:
df['volume(cm3)']

In [ ]:
df['volume(cm3)'].fillna(df['volume(cm3)'].mean(), axis=0, inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df['drive_unit']

In [ ]:
df['drive_unit'] = df['drive_unit'].replace(np.nan, 'unknown')

In [ ]:
df.isnull().sum()

In [ ]:
df['segment']

In [ ]:
df['segment'] = df['segment'].replace(np.nan, 'unknown')

In [ ]:
df.isnull().sum()

There are no missing values

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df['Current_year']=2020

In [ ]:
df.head()

Now my task is to convert all categorical data into numerical data

In [ ]:
df.head()

In [ ]:
df['no_of_years']=df['Current_year']-df['year']

In [ ]:
df.head()

In [ ]:
df.drop(['year','Current_year'], axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
df.drop(['make'], axis=1, inplace=True)

In [ ]:
df.head()

In [6]:
df.drop(['model'], axis=1, inplace=True)

In [7]:
df.drop(['make'], axis=1, inplace=True)

In [8]:
df.head()

,Unnamed: 0,priceUSD,year,condition,mileage(kilometers),fuel_type,volume(cm3),color,transmission,drive_unit,segment
0,0,565,1993,with mileage,960015.0,petrol,2000.0,black,mechanics,front-wheel drive,D
1,1,5550,2008,with mileage,172000.0,diesel,1400.0,silver,mechanics,front-wheel drive,M
2,2,8300,2008,with mileage,223000.0,petrol,2500.0,purple,auto,front-wheel drive,D
3,3,3300,2005,with mileage,140000.0,petrol,1200.0,blue,mechanics,front-wheel drive,A
4,4,2450,2002,with damage,413000.0,diesel,2200.0,burgundy,mechanics,front-wheel drive,D

In [9]:
df['drive_unit'].unique()

array(['front-wheel drive', 'all-wheel drive',
       'part-time four-wheel drive', 'rear drive', nan], dtype=object)

In [10]:
df['segment'].unique()

array(['D', 'M', 'A', 'J', 'C', 'E', nan, 'F', 'B', 'S'], dtype=object)

In [11]:
print(df['condition'].unique())

['with mileage' 'with damage' 'for parts']

In [ ]:
print(df['fuel_type'].unique())

In [ ]:
print(df['color'].unique())

In [ ]:
print(df['transmission'].unique())

In [ ]:
print(df['drive_unit'].unique())

In [ ]:
print(df['segment'].unique())

In [ ]:
new_df=pd.get_dummies(df,drop_first=True)

In [ ]:
new_df.head()

In [ ]:
new_df.corr()

In [ ]:
sns.heatmap(new_df.corr())

In [ ]:
corrmat=new_df.corr()
top_corr_features=corrmat.index
plt.figure(figsize=(20,20))
g=sns.heatmap(new_df[top_corr_features].corr(), annot=True)

In [ ]:
new_df.head()

In [ ]:
x=new_df.iloc[:,2:]
y=new_df.iloc[:,1]

In [ ]:
x.head()

In [ ]:
y.head()

In [ ]:
from sklearn.ensemble import ExtraTreesRegressor
model=ExtraTreesRegressor()
model.fit(x,y)

In [ ]:
print(model.feature_importances_)

In [ ]:
feat_importances=pd.Series(model.feature_importances_, index=x.columns)
feat_importances.nlargest(5).plot(kind='barh')
plt.show()

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
x_train.shape

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf_random=RandomForestRegressor()

In [ ]:
n_estimators=[int(x) for x in np.linspace(start=100, stop=1200, num=12)]
max_features=['auto', 'sqrt']
max_depth=[int(x) for x in np.linspace(5,30, num=6)]
min_samples_split=[2,5,10,15,100]
min_samples_leaf=[1,2,5,10]

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
random_grid={'n_estimators': n_estimators,
             'max_features': max_features,
             'max_depth':max_depth,
             'min_samples_split': min_samples_split,
             'min_samples_leaf': min_samples_leaf
             }
print(random_grid)

In [ ]:
rf=RandomForestRegressor()

In [ ]:
rf_random=RandomizedSearchCV(estimator =rf, param_distributions= random_grid, scoring='neg_mean_squared_error', n_iter=10, cv=5,verbose=2, random_state=42, n_jobs=1)

In [ ]:
rf_random.fit(x_train,y_train)

In [ ]:
predictions=rf_random.predict(x_test)

In [ ]:
predictions

In [ ]:
sns.distplot(y_test-predictions)

In [ ]:
plt.scatter(y_test,predictions)

In [ ]:
import pickle
file=open('car_random_forest_regression_model_.pkl', 'wb')
pickle.dump(rf_random, file)